@use "sass:color";

.results-page {
  padding: 0;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  
  h1 {
    text-align: center;
    margin: 0 0 2rem 0;
    padding-top: 1rem;
    font-size: 20px;
  }
  
  .results-container {
    background-color: #f5f5f5;
    border-radius: 0;
    padding: 1rem;
    min-height: calc(80vh - 100px);
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ddd;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // padding-left: 10%;
    // padding-right: 10%;
    
    .results-content {
      height: calc(79vh);
      overflow-y: scroll;


      .panels-grid {
        display: flex;
        flex-direction: column;
        gap: 0;
        // border: 1px solid #ddd;
        .result-panel {
          background-color: white;
          padding: 1rem;
          border-radius: 0px;
        //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          min-height: 60px;
          display: flex;
          align-items: center;
          border: 1px solid #ddd;
          width: 95%;
        }
      }
    }
  }
  
  .button-row {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 1rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;
    }

    .back-button {
      background-color: #787878;
      color: white;
    }

    .search-btn {
      background-color: #4c99af;
      color: #fff;
    }
  }
}

body, #root {
    // margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }